// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    width: 100% !important;
    height: 100% !important;
}

.container{
    padding-left:350px;
    margin: 0 !important;
}

.containerCollapsed{
    padding-left:55px;
    margin: 0 !important;
}

.bootstrap-btn-fix{
    font-size: 0.9rem !important;
    padding: 6px 12px 6px 12px !important;
    line-height: 1.6 !important;
}